<div class="row">
  <div class="col">
    <p class="alert alert-info" *ngIf="message">{{ message }}</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-playlists-list
      *ngIf="playlists | async as playlists"
      [items]="playlists"
      [selectedId]="(selectedId | async)!"
      (selectedIdChange)="select($event)"
      (delete)="removePlaylist($event)"
    ></app-playlists-list>

    <button class="btn btn-info mt-4 float-end" (click)="createMode()">
      Create Playlist
    </button>
  </div>

  <div class="col">
    <div [ngSwitch]="mode">
      <div *ngSwitchDefault>
        <app-playlist-details
          *ngIf="selected | async as playlist; else noPlaylistTpl"
          [playlist]="playlist"
          (edit)="editMode()"
        ></app-playlist-details>
      </div>

      <div *ngSwitchCase="'edit'">
        <app-playlist-editor
          *ngIf="selected | async as playlist; else noPlaylistTpl"
          [playlist]="playlist"
          (cancel)="cancel()"
          (save)="savePlaylist($event)"
        ></app-playlist-editor>
      </div>

      <div *ngSwitchCase="'create'">
        <app-playlist-editor
          (cancel)="cancel()"
          (save)="saveNewPlaylist($event)"
        ></app-playlist-editor>
      </div>
    </div>
  </div>
</div>

<ng-template #noPlaylistTpl>
  <p class="alert alert-info">Please select playlist</p>
</ng-template>
