<div class="row">
  <div class="col">
    <app-search-form
      [query]="query | async"
      (search)="searchAlbums($event)"
    ></app-search-form>
  </div>
</div>
<div class="row">
  <div class="col">
    <p class="alert alert-danger" *ngIf="(message | async) as msg">{{msg}}</p>

    <p>Found {{ (results | async)?.length }} results:</p>

    <app-search-results [results]="results | async"></app-search-results>
  </div>
</div>
