<!-- <div
  class="card"
  [routerLink]="['/music', 'albums']"
  [queryParams]="{ id: album.id }"
> -->
<div class="card" [routerLink]="['/music', 'albums', album.id]">
  <img
    class="card-img-top"
    *ngIf="album.images[0]"
    [src]="album.images[0].url"
    [alt]="album.name"
  />

  <div class="card-body">
    <h5 class="card-title">
      {{ album.name }}
    </h5>
  </div>
</div>
