<app-card>
  <ng-container ngProjectAs="cardTitle">
    {{ playlist.name | titlecase }}
    <hr />
  </ng-container>

  <dl
    [id]="'playlist_' + playlist.id"
    [title]="playlist.name"
    [attr.data-playlist-id]="playlist.id"
  >
    <!-- <dt>Name:</dt>
    <dd
      [ngStyle]="{
        'font-size.px': 44 / 2,
        'text-decoration': 'underscore'
      }"
    >
      {{ playlist.name | titlecase }}
    </dd> -->

    <dt>Public:</dt>
    <!-- <dd [style.color]="playlist.public ? 'red' : 'green'"> -->
    <!-- <dd [class]="playlist.public ? 'text-danger' : 'text-success'"> -->
    <!-- <dd
[class.text-danger]="playlist.public"
[class.text-success]="!playlist.public"
> -->
    <dd
      [ngClass]="{
        'text-danger': playlist.public,
        'text-success': !playlist.public
      }"
    >
      <!-- {{ playlist.public ? "Yes" : "No" }} -->
      <!-- {{ playlist.public | yesno: "Yeah":"Nope" }} -->
      {{ playlist.public | yesno | titlecase }}
    </dd>

    <dt>Description:</dt>
    <dd>{{ playlist.description | slice: 0:20 }}</dd>
  </dl>


  <app-track-list *ngIf="tracks" [tracks]="tracks"></app-track-list>


  <ng-container ngProjectAs="cardFooter">
    <button class="btn btn-info" (click)="editClick()">Edit</button>
  </ng-container>
</app-card>
