<audio
  [src]="playing?.preview_url"
  class="w-100"
  controls="controls"
  #playerRef
></audio>

<hr />

<div class="list-group">
  <div
    class="list-group-item"
    *ngFor="let track of tracks"
    [class.bg-dark]="playing?.id === track.id"
    [class.text-light]="playing?.id === track.id"
  >
    <!-- [class.btn-outline-dark]="playing?.id !== track.id" -->
    {{ track.track_number }}. {{ track.name }}
    <div
      class="float-end btn btn-sm"
      (click)="play(track)"
      [class.btn-outline-dark]="playing?.id !== track.id"
      [class.btn-outline-light]="playing?.id === track.id"
    >
      {{ playing?.id === track.id ? "Stop" : "Play" }}
    </div>
    <span *ngIf="track.duration_ms" class="float-end px-2"> {{ track.duration_ms | duration }} </span>
  </div>
</div>
