<router-outlet></router-outlet>

<!-- <div class="row">
  <div class="col">
    <app-album-search></app-album-search>
  </div>
  <div class="col">
    <app-album-search></app-album-search>
  </div>
</div> -->
